{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "config": "./src/config",
          "helpers": "./src/helpers",
          "screens": "./src/screens",
          "components": "./src/components",
          "containers": "./src/containers",
          "constants": "./src/config/constants",
          "app-graphql": "./src/graphql/index",
          "assets": "./public/static/assets",
          "locales": "./public/static/locals",
          "styles": "./styles",
          "i18n": "./i18n"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
